body {
    background-image: url(./assets/new_background.jpg);
    background-size: cover;
    height: 100hv;
    margin-top: 20px;
}

html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container {
    text-align: center;
}

#searchField {
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;

    font-size: large;
    font-family: 'Space Mono', monospace;
    color: #40a8d8;

    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);

}

#searchDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    max-width: 90%;
}


#searchButton {
    font-weight: bold;
    font-size: large;
    color: #40a8d8;
    /* Text color for the button */
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);

    font-family: 'Space Mono', monospace;

    border: 2px solid black;
    padding: 14px 28px;
    border-radius: 10px;
    position: relative;
    top: 0;
    max-width: 80%;
    margin-right: 20px;
    margin-left: 20px;

}

#inputDescription{
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family:'Space Mono', monospace;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.825);
}


#nextStarts {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#headingNextStarts{
    padding-top: 20px;
    margin: 0 auto;
    max-width: 90%;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    margin-top: 50px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.825);
}

.startElement {
    color: #40a8d8;
    font-family: 'Space Mono', monospace;

}

.blackLine{
    border-top: 2px solid black;
    margin: 10px 0;
}


h1{
    font-family: 'Space Mono', monospace;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 20px;
    max-width: 90%;
    color: rgba(255, 255, 255, 0.825);
}

.sizedBox{
    height: 50px;
}

#podButton{
    color: #40a8d8;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    padding: 10px;
    margin-top: 60px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    border-radius: 10px;
}