body{
    background-image: url('../../assets/background_collection.jpg');
    height: 100hv;
    margin-top: 20px;
}




/* Add necessary styles for the layout */
.picture-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .picture-container > div {
    flex: 0 0 calc(50% - 10px); /* 50% width with some margin */
    margin: 5px;
    box-sizing: border-box;
  }
  
  .picture-container img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .text-container {
    padding: 10px;
    color: white;
    font-size: larger;
    box-sizing: border-box;
  }
  