body {
  height: 100hv;
  background-image: url(../../assets/background_collection.jpg);
  margin-top: 20px;
}




/* Add necessary styles for the layout */
.picture-container {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.picture-container >div{
  box-sizing: border-box;
}

.picture-container img{
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
}

.text-container { 
  padding: 10px;
  color: whitesmoke;
  background-color: grey;
  font-size: 15px;
  border: 2px solid white;
  border-radius: 10px;
  text-overflow: ellipsis;
  font-family: 'Space Mono', monospace;
}

.inner-element{
  padding-bottom: 10px;
}